@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira/FiraSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira/FiraSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira/FiraSans-Light.ttf");
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: #0c0922;
  font-family: "Fira Sans";
}

#navbar {
  background-color: #0c0922;
}

.section-title {
  font: normal 300 3rem "Fira Sans";
  text-transform: uppercase;
  letter-spacing: 1rem;
  padding: 1rem;
}

.nav-container {
  width: 100%;
  margin-top: 30px;
  font-size: 1rem;
}

.nav-container nav {
  max-width: 1500px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
}

.nav-container nav #nav-toggle,
.nav-container nav .burger-menu {
  display: none;
}

.nav-container nav #nav-toggle svg path,
.nav-container nav .burger-menu svg path {
  fill: white;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.nav-container nav #nav-toggle svg:hover path,
.nav-container nav .burger-menu svg:hover path {
  fill: #e6193b;
}

.nav-container nav .right-menu {
  text-transform: uppercase;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: right;
}

.nav-container nav .right-menu a {
  padding: 1rem 1.5rem;
  text-decoration: none;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.nav-container nav .right-menu a:hover {
  color: #e6193b;
}

.nav-container nav .logo {
  -ms-grid-column: 1;
  grid-column: 1;
  font-weight: bold;
  padding: 0px 2rem;
}

.nav-container nav .logo a {
  padding: .5rem;
  border: 3px white solid;
  text-decoration: none;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.nav-container nav .logo a:hover {
  border: 3px #e6193b solid;
  color: #e6193b;
}

@media only screen and (max-width: 1025px) {
  .nav-container nav .burger-menu {
    padding: 0px 1rem;
    display: inline-block;
    text-align: right;
  }
  .nav-container nav .right-menu {
    display: none;
    -webkit-transition: .3s all step-end;
    transition: .3s all step-end;
  }
  .nav-container nav #nav-toggle:checked ~ .right-menu {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #0c0922;
    -ms-grid-row: 2;
    grid-row: 2;
    position: fixed;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    width: 100%;
    margin-top: 5vh;
    text-align: center;
  }
  .nav-container nav #nav-toggle:checked ~ .right-menu a {
    display: block;
    padding: 20px 0px;
  }
  .nav-container nav #nav-toggle:checked ~ .right-menu a:hover {
    background: #020c44;
    color: white;
  }
}

#site-banner {
  width: 100%;
}

#site-banner .site-banner {
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#site-banner .site-banner .me {
  margin-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#site-banner .site-banner .me img {
  width: 50%;
}

#site-banner .site-banner .me h1 {
  padding: 20px 30px;
  font: normal bold 2.5rem "Fira Sans";
  letter-spacing: 5px;
}

#site-banner .site-banner .me p {
  font: normal 300 25px "Fira Sans";
  text-align: center;
}

#site-banner .site-banner .me .icons {
  width: 50%;
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#site-banner .site-banner .me .icons a {
  padding: 5px;
}

#site-banner .site-banner .me .icons a i:hover {
  color: #e6193b;
}

.about-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-section .about-area {
  margin-top: 10rem;
  width: 100%;
}

.about-section .about-area div {
  width: auto;
}

.about-section .about-area .about-content {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-section .about-area .about-content .about-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .about-area .about-content .about-image img {
  width: 30rem;
}

.about-section .about-area .about-content .about-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2rem;
}

.about-section .about-area .about-content .about-info .para {
  margin-top: 4rem;
  text-align: left;
  text-transform: capitalize;
  font: normal 300 1rem/1.5rem "Fira sans";
  letter-spacing: .1rem;
  width: 75%;
}

.about-section .about-area .about-content .about-info .para .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .about-area .about-content .about-info .para .skills skill {
  font-weight: bold;
  margin: .5rem .3rem;
  padding: 0 2rem;
  border-radius: 2rem;
  border: .1rem white solid;
  text-transform: lowercase;
}

.about-section .about-area .about-content .about-info .para .skills skill:hover {
  color: #e6193b;
  border-color: #e6193b;
}

@media only screen and (max-width: 1025px) {
  .about-section .about-area .about-content .about-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-section .about-area .about-content .about-image img {
    width: 20rem;
  }
  .about-section .about-area .about-content .about-info h1 {
    text-align: center;
  }
  .about-section .about-area .about-content .about-info .para {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
  }
}

.skills-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-area .skill-box {
  margin-top: 10vh;
  text-align: center;
}

.skills-area .skill-box .skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2vh;
}

.skills-area .skill-box .skill-list .skill-list-card {
  width: 20rem;
  margin: 1rem 1rem;
  padding: 1rem;
  background-color: #161020d3;
  border-radius: 1rem;
  -webkit-box-shadow: -0.5rem 0.3rem 1rem black;
          box-shadow: -0.5rem 0.3rem 1rem black;
  text-align: left;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.skills-area .skill-box .skill-list .skill-list-card:hover {
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

.skills-area .skill-box .skill-list .skill-list-card h1 {
  margin: 1rem 0;
}

.skills-area .skill-box .skill-list .skill-list-card img {
  height: 1.5rem;
}

.experience {
  width: 100%;
  text-align: center;
  margin-top: 5vh;
}

.experience .exp-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.experience .exp-box .exp-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  width: 20rem;
  margin: 1rem 1rem;
  padding: 1rem;
  background-color: #161020d3;
  -webkit-box-shadow: -0.5rem 0.3rem 1rem black;
          box-shadow: -0.5rem 0.3rem 1rem black;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.experience .exp-box .exp-card a {
  color: #5d5dcf;
  text-decoration: none;
  display: block;
  padding: 1rem 0;
}

.experience .exp-box .exp-card h2 {
  text-align: center;
  padding: 1rem;
}

.contact {
  text-align: center;
}

.contact h3, .contact h4 {
  font-weight: 300;
  padding: .5rem;
}

.contact i {
  padding: 2rem;
  color: #9494fd;
}

.contact .telegram-icon {
  color: #3eb7e7;
}

.contact .email-icon {
  color: #db4007;
}

.contact .instagram-icon {
  background: radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact .twitter-icon {
  color: #07b6d4;
}

.footer {
  text-align: center;
}

.footer i {
  color: #eb0229;
}

.footer h3 {
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */